/* Robin Pindel
 * Module 7 Programming Assignment
 * 4/23/2023

 * CSS stylesheet for program that displays four JavaFX circles.
 */


.plaincircle {
  -fx-fill: white;
  -fx-stroke: black;
}

.border {
  -fx-border-color: black;
  -fx-border-width: 5;
}

#redcircle {
  -fx-fill: red;
  -fx-stroke: red;
}

#greencircle {
  -fx-fill: green;
  -fx-stroke: green;
}